@model List<Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
    


<div class="row row-cols-1 row-cols-md-3">
     @foreach (var item in Model) {
  <div class="col mb-4">
    <div class="card h-100">
      <img src="/Images/@item.Image" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Name:@item.Name</h5>
        <p class="card-text">Price:@item.Price</p>
               <a asp-action="Details" asp-route-id="@item.Id">Details</a> 

      </div>
    </div>
  </div>
     }
</div>
