@model Ecommerce.Models.Order

@{
    ViewData["Title"] = "Add";
}
<h1 style="margin-top:150px;font-weight:bolder; margin-left:450px; margin-bottom:30px;">Add Order</h1>


<div class="row " style="margin-left:350px;" >
    <div class="col-md-4">
        <form asp-action="Add" style="width:400px;">
            <div asp-validation-summary="ModelOnly" class="text-danger" ></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label" style="  font-size : 20px; color:#6A040F ;"></label>
                <input asp-for="Date" class="form-control" style=" border-color:#9D0208 ; margin-bottom:20px;" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
         
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label" style="  font-size : 20px; color:#6A040F ;"></label>
                <select asp-for="CustomerId" class ="form-control" asp-items="ViewBag.CustomerId" style=" border-color:#9D0208 ; margin-bottom:20px;" ></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-light font-weight-bold" style="border-color:#9D0208 ; color:/*#14213D*/ black; margin-left:150px;" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" style=" margin-right:120px; color:black; font-weight:bold; font-size:20px;margin-left:500px;">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
