@model List<Category>

<h2 style="color:rgb(78 115 223);">Select Category</h2>
<br />

<select id="categories" class ="form-control" onchange="getAll()" >
    @foreach (var item in Model)
   {
        <option value="@item.Id">@item.Name</option>       
   }
</select>

<div id = "Products"></div>
<script>
    
    function getAll(){
        var Id=$("#categories").val();
        
        $.ajax(
            {
                url: `/Home/Products?CatId=${Id}`,
                
                success: function(result){
                    
                    $("#Products").html(result);
                }
            }
         );
    }
</script>