/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.container-overlay-products {
    margin: 30px auto;
}

  /*--------------------------------------------------------------
# overlay cards starts here
--------------------------------------------------------------*/
.container-overlay-products .product-item {
    min-height: 450px;
    border: none;
    overflow: hidden;
    position: relative;
    border-radius: 0
}

.container-overlay-products .product-item .product {
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

    .container-overlay-products .product-item .product img {
        width: 100%;
        height: 100%;
        object-fit: cover
    }

    .container-overlay-products .product-item .product .icons .icon {
        width: 40px;
        height: 40px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.6s ease;
        transform: rotate(180deg);
        cursor: pointer
    }

        .container-overlay-products .product-item .product .icons .icon:hover {
            background-color: #302d2d;
            color: #fff
        }

        .container-overlay-products .product-item .product .icons .icon:nth-last-of-type(3) {
            transition-delay: 0.2s
        }

        .container-overlay-products .product-item .product .icons .icon:nth-last-of-type(2) {
            transition-delay: 0.15s
        }

        .container-overlay-products .product-item .product .icons .icon:nth-last-of-type(1) {
            transition-delay: 0.1s
        }

.container-overlay-products .product-item:hover .product .icons .icon {
    transform: translateY(-60px)
}

.container-overlay-products .product-item .tag {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 500;
    position: absolute;
    top: 10px;
    left: 20px;
    padding: 0 0.4rem
}

.container-overlay-products .product-item .title {
    font-size: 0.95rem;
    letter-spacing: 0.5px
}


.container-overlay-products .product-item .price {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600
}

.fw-800 {
    font-weight: 800
}

.bg-black {
    background-color: #1f1d1d;
    color: #fff
}
/*--------------------------------------------------------------
# overlay cards end
--------------------------------------------------------------*/